PORT=3000
NODE_ENV=development
SUPABASE_URL=https://xxx.supabase.co
SUPABASE_SERVICE_KEY=xxx
JWT_SECRET=kamida_64_belgidan_iborat_maxfiy_kalit
JWT_EXPIRES_IN=7d
OTP_VERIFY_SECRET=alohida_kalit_otp_token_uchun
GROQ_API_KEY=gsk_xxx
GROQ_MODEL=llama-3.1-8b-instant
ESKIZ_LOGIN=xxx
ESKIZ_PASSWORD=xxx
ESKIZ_FROM=StressTest
FRONTEND_URL=https://sstuz.netlify.app
